.section-center {
  width: 90vw;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
  max-width: 30rem;
  background: var(--white);
  border-radius: var(--borderRadius);
  padding: 2rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  background-color: rgba(38, 38, 38, 0.755);
}
.section-center:hover {
  /* box-shadow: var(--shadow-3); */
  filter: drop-shadow(0 0 1em #3e3e3e75);
}
.item-name {
  text-transform: capitalize;
}
.item {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #dddddd;
  /* background-color: lightgray; */
}
.item:hover {
  /* box-shadow: var(--shadow-1); */
}
input[type="text"] {
  width: 100% !important;
}
